/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/***** COMMON CLASSES  *****/
.container {
  margin: 0 auto;
  width :980px;
}

.padding{
  padding: 30px 0;
}

.btn {
  padding: 16px 32px;
  background: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.page-heading {
  font-size:24px;
  text-transform: uppercase;
  color: white;
  margin: 30px 0; 
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight: 600;
  letter-spacing: 3px;
}

.gallery-img {
  height: 300px;
  width:320px;
  margin: 20px 0;
}

.c-img {
  padding: 0 30px;
}


/* HEADER */
.top-heading{
  background-color: #6d9737;
  padding: 18px 0;
}

.heading h1 {
  text-transform:capitalize;
  color:white;
  font-size: 24px;
  text-align: center;
}

.heading a {
  text-decoration: none;
}

.navigation-links {
  text-align: center;
  padding: 16px 0px;
  font-size: 18px;
}

.navigation-links a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 8px;
  color: white;
}


/* HERO SECTION  */
.hero-section {
  background-color: #6d9737;
  padding: 40px 0;
}

.main-hero h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  margin: 30px 0;
}

.main-hero p {
  text-transform:capitalize;
  font-size:24px;
  color: bisque;
  margin: 30px 0;
  line-height: 1.5;
  width: 400px;
  font-family: 'BenchNine', sans-serif;
}

.hero-btn {
  display: inline-block;
  width: 200px;
}

.left-section {
  display:inline-block;
}

.right-section {
  display:inline-block;
  margin-top: 90px;
}

.hero-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-left: 100px;
}


/* SECTION-2  */
.section-2 {
  background-color:#83af4d;
}

.col-2 h1 {
  text-align: center;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

.para-heading {
  text-transform: uppercase;
  font-size: 28px; 
  color: white;
}

.col-2 p {
  text-transform:capitalize;
  font-size: 24px;
  color: bisque;
  margin: 30px 0;
  line-height: 1.5;
  text-align: left;
  font-family: 'BenchNine', sans-serif;
}

.read-more {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}


/* SECTION-3  */
.section-3 {
  background-color: #e9eeea;
  margin: 0;
}

.image-section h1 {
  color: #83af4d;
  text-align: center;
}

/* section-4  */
.section-4 {
  background-color:#7cb33a;
}

label {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

input {
  display: block;
  width: 100%;
  background: transparent;
  border:2px solid white;
  margin: 24px 0;
  outline: none;
}

.name-text {
  height:38px;
}

.email-text {
  height:38px;
}

.msg-text {
  height:64px;
}

.msg-btn {
  width:300px;
}


/* FOOTER  */
footer{
  background-color:#6d9737 ;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: white;
}

nav {
  text-align:center;
  word-spacing: 2px;
}

.copy-right {
  display: block;
  text-align: center;
  text-transform: lowercase;
  color: white;
  margin: 10px 0;
}